
.heading
{
    width: 30%;
    float:left;
    margin-top: 0px;
    margin-left: 115px;
    border-radius: 5px;
}
.heading-menu
{
    float: right;
    margin-right: 30px;
    margin-top: 45px;
}
.heading h1
{
    font-size: 55px;
}
.section h1
{
    font-size:35px;
    color:#3C1874;
}
.section p
{
    font-size:22px;
    color:#932432;
}
.section h3
{
    font-size:28px;
    color:#007CC7;
}
.link-button {
  background-color: #F1B24A;
  text-decoration: none;
  padding:15px;
  font-size: 35px;
  border-radius: 6px;
}
#Tanvir-Sakil
{
    font-size: 35px;
    color:red;
}
#My
{
    color:tomato;
}
.half-width
{
    margin-left: 150px;
    height: 265px;
    clear:both;
}
#Portfolio
{
    color:orange;
}
.heading-menu a 
{
    font-size: 24px;
    padding-top: 39px;
    padding-left: 8px;
    text-decoration: none;
}
.section
{
    width: 33%;
    float:left;
    padding-top: 20px;
    padding-left: 90px;
    margin-left: 40px;
    padding-bottom: 25px;
}
.section img
{
    height: 350px;
    width: 350px;
}
.service-area
{
    margin-top: 30px;
    height: 460px;
    padding:15px;
    background-color: #12232E;
    clear:both;
}
.service-area h2
{
    font-size: 32px;
    text-align: center;
    color:white;
}
.second-section1 img
{
    margin-left: 20px;
     height: 130px;
     width: 280px;
}
.second-section1
{
    background-color: #3C1874;
    width:27%;
    height:298px;
    float: left;
    margin:15px;
    padding:15px;
    padding-left: 35px;
    border-radius: 14px;
}
.second-section1 p
{
    color:white;
    font-size: 25px;
}
.experience-area
{
    margin-top: 25px;
    height: 500px;
    padding:15px;
    background-color: #DCE1E3;
    clear:both;
}
.experience-area h2
{
    font-size: 32px;
    text-align: center;
}
.second-section img
{
    margin-left: 20px;
     height: 130px;
     width: 280px;
}
.second-section
{
    background-color: gray;
    width:27%;
    height:350px;
    float: left;
    margin:15px;
    padding:15px;
    padding-left: 35px;
    box-shadow: 10px 10px 5px gray;
}
.second-section p
{
    font-size:20px;
    color:white;
}
.My-box1
{
    margin-top:35px;
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-size: 65%;
    height: 230px;
    width: 100%;
    background-position: center;
    clear:both;
    
}
.My-box1 p
{
    margin-top:62px;
    padding: 94px;
    color:#DE354C;
    margin-left: 15%;
    font-size: 36px;
    color:white;

}
.My-box1 .link-button1
{
    background-color: orange;
    text-decoration: none;
    padding:8px;
    font-size: 20px;
    border-radius: 6px;
    margin-left: 45%;
}
.footer1 h3
{
    text-align: center;
}
.footer1 h1
{
    text-align: center;
}
.icon
{
    margin-left: 45%;
}
.icon img
{
    height: 40px;
    padding:10px;
}

