
.heading
{
    width: 40%;
    float:left;
    margin-top: 0px;
    margin-left: 115px;
}
.heading-menu
{
    float: right;
    margin-right: 30px;
    margin-top: 45px;
}
.heading h1
{
    font-size: 55px;
}
.section h1
{
    font-size:35px;
    color:#3C1874;
}
.section p
{
    font-size:22px;
    color:#932432;
}
.section h3
{
    font-size:28px;
    color:#007CC7;
}
.link-button {
  background-color: #F1B24A;
  text-decoration: none;
  padding:15px;
  font-size: 35px;
  border-radius: 6px;
}
#Tanvir-Sakil
{
    font-size: 35px;
    color:red;
}
#My
{
    color:tomato;
}
.half-width
{
    margin-left: 150px;
    height: 265px;
    clear:both;
}
#Portfolio
{
    color:orange;
}
.heading-menu a 
{
    font-size: 24px;
    padding-top: 39px;
    padding-left: 8px;
    text-decoration: none;
}
.section
{
    width: 33%;
    float:left;
    padding-top: 20px;
    padding-left: 105px;
    margin-left: 55px;
    padding-bottom: 25px;
}
.section img
{
    height: 350px;
    width: 350px;
}
.experience-area
{
    margin-top: 25px;
    height: 390px;
    padding:15px;
    background-color: #DCE1E3;
    clear:both;
}
.second-section img
{
    margin-left: 20px;
     height: 130px;
     width: 280px;
}
.second-section
{
    background-color: gray;
    width:27%;
    height:298px;
    float: left;
    margin:15px;
    padding:15px;
    box-shadow: 10px 10px 5px gray;
}
.My-box1
{
    margin-top:30px;
    margin-left:30%;
    background-color: #9DC88D;
    height:60px;
    width: 450px;
    clear:both;
    border-radius: 15px 15px 15px 15px;
}
.My-box1 h1
{
    margin-top:-62px;
    padding: 77px;
    color:#DE354C;
    display: inline-block;
}
.My-box1 .button {
  background-color:  #F1B24A;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin: 4px 2px;
}
.My-box1 .link-button1
{
    background-color: orange;
    text-decoration: none;
    padding:8px;
    font-size: 20px;
    display: inline;
    border-radius: 6px;
}
.footer1 h3
{
    text-align: center;
}
.footer1 h1
{
    text-align: center;
}

